@model  benimalisverissitem.Models.ililceviewmodel


@using (Html.BeginForm("List", "ClientHome", FormMethod.Post))
{
    <div c>


        @Html.DropDownList("Id", null, "Iller", new { @class = "form-control" })
        



    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">


        </div>
    </div>
}


















@*@model IEnumerable<benimalisverissitem.Models.Cities>


    @using (Html.BeginForm("List2", "ClientHome", FormMethod.Post))
    {
        <div class="form-group">


            @Html.DropDownList("Id", null, "Iller", new { @class = "form-control" })
            <br />



        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">


            </div>
        </div>
    }*@



