
<div class="footer" id="footer"style="background-color:white">
    <div class="columnContent ">
        <table align="center">
            <tr>
                <td>
                    <h4>
                        Müşteri
                    </h4>
                    <a href="/Account/Login" title="Müşteri Girişi" rel="nofollow">
                        Müşteri Girişi
                    </a>
                </td>
                <td></td>
                &ensp;


                <td>
                    <h4>
                        Mağaza
                    </h4>
                    &ensp;
                    <a href="/Account/MagazaLogin" title="Mağaza Girişi" rel="nofollow">
                        Mağaza Girişi
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>