
@{
    Layout = null;
}
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" class="container" />
    <title>_Layout</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/PageStyle.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("_Navbar2")

    <div class="container pb-5">
        <div class="row">
            <div class="col-md-2">
                @{ Html.RenderAction("GenderList", "Genders");}
                @{ Html.RenderAction("CategoryList", "Categories");}

                @{ Html.RenderAction("BrandList", "Brands");}
                @{ Html.RenderAction("SizeList", "Sizes");}
                @{ Html.RenderAction("ColorList", "Colors");}

            </div>
            <div id="main" class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @RenderSection("scripts", false)
</body>
</html>
