@model IEnumerable<benimalisverissitem.Models.ProductModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-2">



        @{Html.RenderAction("CategoryList", "Categories");}
        @*@{Html.RenderAction("GenderList", "Genders");}*@
    </div>
    <div class="col-lg-10">
        @foreach (var product in Model)
        {
           
            <div class="products">
                <h3 class="page-header">
                    @product.UrunAdi
                </h3>
                <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                <p>
                    @product.Aciklama
                </p>
            </div>
            
        }

    </div>

</div>

