@model IEnumerable<benimalisverissitem.Models.Sizes>

<div class="well">
    <h4>Bedenler</h4>
    <div class="row">
        <div class="list">
            <ul class="list-unstyled">
                @foreach (var item in Model)
                {
                    <li>
                        <input type="checkbox" class="size-checkbox" name="@item.Beden" value="@item.Id" />
                        @item.Beden
                    </li>
                }
            </ul>

        </div>

    </div>
</div>

