@model IEnumerable<benimalisverissitem.Models.Genders>

<div class="well">
    <h4>Cinsiyetler</h4>
    <div class="row">
            <div class="list">
                <ul class="list-unstyled">
                    @foreach (var item in Model)
                    {
                        <li>
                            <input type="checkbox" class="gender-checkbox" name="@item.Cinsiyet" value="@item.Id" />
                            @item.Cinsiyet
                        </li>
                    }
                </ul>

            </div>
    </div>
</div>
