@model benimalisverissitem.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>@Model.UrunAdi</h1>
<hr />



<img  class="img-responsive" src="http://placehold.it/900x300"alt="">
<hr />
<blockquote>
    <p>@Model.Aciklama</p>
</blockquote>
